// base/_base.scss partial

$font-main: sans-serif;
$font-size: 100%;

body {
  font-family: $font-main;
  font-size: $font-size;
  color: #444;
  background-color: #fff;



  h1 {
    color: red;
  }

  .ground {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: rgb(11,143,70); // legacy fallback
    background: linear-gradient(180deg, rgba(11,143,70,1) 0%, rgba(242,193,107,1) 22%, rgba(255,243,222,1) 40%);
  }
}
