// base/_base.scss partial

body {
  font-family: $font-main;
  font-size: $font-size;
  color: #444;
  background-color: #555;

  h1 {
    display: inline;
    position: relative;
    color: #161a42;
    z-index: 100;
  }

  // .sky {
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   height: 75%;
  //   background: rgb(94,158,255);
  //   background: linear-gradient(180deg, rgba(94,158,255,1) 0%, rgba(250,233,249,1) 100%);
  //   z-index: 1;
  // }

  .ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background: rgb(11,143,70); // legacy fallback
    background: linear-gradient(180deg, rgba(11,143,70,1) 0%, rgba(242,193,107,1) 22%, rgba(255,243,222,1) 40%);
    z-index: 1;
  }

  .snow-zone {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;


    .flake {
      position: absolute;
      top: 100px;
      left: 100px;
      background-color: transparent;

      will-change: transform;
      animation-name: snowingX;
      animation-duration: $animation-time;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;

      &::after {
        content: '';
        display: block;
        will-change: transform, opacity;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $snow1;
        opacity: .1;

        box-shadow:
          -5px -8px 0 0 $snow2,
          8px -5px 0 0 $snow3;

        animation-name: snowingY;
        animation-duration: $animation-time;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
      }
    }
  }
}
