// /base/_mixins.scss partial

/**
 * Gernerate a unique 'flake' css for each of the flakes on the page
 **/
@mixin generateFlakes($numFlakes)
{
  @debug($numFlakes);

  @for $i from 0 through $numFlakes {

    @debug('.flake-#{$i}');

    .flake-#{$i} {
      position: absolute;
      @include randomizeFlake();
      background-color: transparent;

      will-change: transform; // hint to the browser on what elements will be animated
      animation-name: snowingX;
      animation-duration: $animation-time;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;

      &::after {
        content: '';
        display: block;
        will-change: transform, opacity, box-shadow;
        border-radius: 50%;
        width: random(5)+6 + px;
        height: random(5)+6 + px;
        background-color: $snow1;
        opacity: .1;

        @include generateExtraFlakes(2);

        animation-name: snowingY;
        animation-duration: $animation-time;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
      }
    }

  }

}

/**
 * Appending additional box-shadows onto the original 'flake' to simulate a more
 * 'dense' snowfall.  Depending on the number of initial flakes, large number will tend to slow down the browser.
 * todo: randomize flake color and opacity
 **/
@mixin generateExtraFlakes($flakes)
{
  $moreFlakes: ();
  $i: 1;

  @for $i from 1 through $flakes {
    // Randomize the position of additional flakes
    $x: (random(201)-101) + px;
    $y: (random(201)-101) + px;
    $blur: random(5)+1 + px;  // Adjusts the 'fuzziness' of each additional flake
    $spread: random(10)-6 + px; // Adjusts the size of each additional flake
    @debug($x);
    @debug($y);
    @debug($blur);
    @debug($spread);
    $moreFlakes: append($moreFlakes, $x $y $blur $spread $snow2, comma);
  }

  box-shadow: $moreFlakes;
}

/**
 * Randomize the starting location of each flake above the top:0 mark..
 **/
@mixin randomizeFlake() {
  top: (0 - random(100)) + vw;
  left: random(100) + vw;
}
