@mixin generateMoreFlakes($flakes) {
  $moreFlakes: ();
  $i: 1;

  @for $i from 1 through $flakes {
    // $x $y 0 0 $snow2;
    $x: ($i + random(200) - 100) + px;
    $y: ($i + random(500)) + px;
    @debug($x);
    @debug($y);
    $moreFlakes: append($moreFlakes, (($i + random(500))+px) (($i + random(500))+px) 0 0 $snow2, comma);
  }

  box-shadow: $moreFlakes;
}

@mixin randomizeFlake() {
  top: (0 - random(100)) + vw;
  left: random(100) + vw;
}
