@keyframes snowingX {
  0% {
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(-5px);
  }
  10% {
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(-2px);
  }
  50% {
    // background-color: $snow2;
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(4px);
  }
  75% {
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(-1px);
  }
  95% {
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(-5px);
  }
}

@keyframes snowingY {
  0% {
    background-color: $snow1;
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(-2vh) rotate(0deg);
    // skew, rotate

    opacity: 1;
  }
  10% {
    background-color: $snow1;
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(10vh) rotate(3deg);

    opacity: 1;
  }
  50% {
    background-color: $snow2;
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(50vh) rotate(-7deg);

    opacity: .5;
  }
  75% {
    background-color: $snow3;
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(75vh) rotate(8deg);

    opacity: .7;
  }
  95% {
    background-color: $snow1;
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(95vh) rotate(2deg);

    opacity: 0;
  }
}
