@keyframes snowingX {
  from {
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    // transform: translateX(random(100)+px);
  }
  to {
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(random(200)+px);
  }
}

@keyframes snowingXAlt {
  from {
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    // transform: translateX(random(100)+px);
  }
  to {
    animation-timing-function: ease-in; // cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(random(200)+px);
  }
}

@keyframes snowingY {
  from {
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    background-color: $snow1;
    transform: translateY((0 - random(100)) + vh) rotate(0deg);

    opacity: random(10)/10 + $baseOpacity;
  }
  50% {
    opacity: random(10)/10 + $baseOpacity;
  }
  to {
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    background-color: $snow1;
    transform: translateY(100vh) rotate(random(360) + deg);

    opacity: 0;
  }
}

@keyframes snowingYAlt {
  from {
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    background-color: $snow1;
    transform: translateY((0 - random(100)) + vh) rotate(0deg);

    // skew, rotate
    opacity: random(10)/10 + $baseOpacity;
  }
  50% {
    opacity: random(10)/10 + $baseOpacity;
  }
  to {
    animation-timing-function: ease-out; // cubic-bezier(0.02, 0.01, 0.21, 1);
    background-color: $snow1;
    transform: translateY(200vh) rotate(2deg);

    opacity: 0;
  }
}
